body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

header {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTO1caQraWTMjQMqmcwJ17GhHODTCOeyVIqQ&s");
    background-size: cover;
    background-position: center;
    height: 200px;
    color: #f5f5f5;
}

header, section, footer {
    padding: 20px;
    margin: 20px;
}

h1 {
    color: #f5f5f5;
}

h2 {
    color: #4a4a4a;
}

p {
    font-size: 1rem;
}

footer {
    background-color: #f5f5f5;
    margin-top: 20 px;
    padding: 10px;
}